EmployeeService_SWS_XML/WebContent/wsdl/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:emp="http://spring_ws.trg/employee"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring_ws.trg/employee/service"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Employee" targetNamespace="http://spring_ws.trg/employee/service">
	<wsdl:types>
		<xsd:schema targetNamespace="http://employee.com/employee">
			<xsd:import namespace="http://spring_ws.trg/employee"
				schemaLocation="EmployeeServiceSchema.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EmployeeDetailsRequest">
		<wsdl:part element="emp:EmployeeDetailsRequest" name="EmployeeDetailsRequest" />
	</wsdl:message>
	<wsdl:message name="EmployeeDetailsResponse">
		<wsdl:part element="emp:EmployeeDetailsResponse" name="EmployeeDetailsResponse" />
	</wsdl:message>
	<wsdl:message name="EmployeeSkillsetRequest">
		<wsdl:part element="emp:EmployeeSkillsetRequest" name="EmployeeSkillsetRequest" />
	</wsdl:message>
	<wsdl:message name="EmployeeSkillsetResponse">
		<wsdl:part element="emp:EmployeeSkillsetResponse" name="EmployeeSkillsetResponse" />
	</wsdl:message>
	<wsdl:portType name="EmployeePortType">
		<wsdl:operation name="EmployeeDetails">
			<wsdl:input message="tns:EmployeeDetailsRequest" />
			<wsdl:output message="tns:EmployeeDetailsResponse" />
		</wsdl:operation>
		<wsdl:operation name="EmployeeSkillset">
			<wsdl:input message="tns:EmployeeSkillsetRequest" />
			<wsdl:output message="tns:EmployeeSkillsetResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EmployeeSOAPBinding" type="tns:EmployeePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EmployeeDetails">
			<soap:operation soapAction="http://employee.com/employee/EmployeeDetails" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmployeeSkillset">
			<soap:operation soapAction="http://employee.com/employee/EmployeeSkillset" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EmployeeService">
		<wsdl:port binding="tns:EmployeeSOAPBinding" name="Employee">
			<soap:address
				location="http://localhost:8085/EmployeeService_SWS_XML/services" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>